html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.segment {
	position: absolute;
	text-align: center;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor: default;
}

#wheel-menu-transparent {
	position: absolute;
	background: -webkit-linear-gradient(right, rgba(22,53,74,1) 40%, rgba(22,53,74,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(22,53,74,1) 40%, rgba(22,53,74,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(22,53,74,1) 40%, rgba(22,53,74,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(22,53,74,1) 40%, rgba(22,53,74,0)); /* Standard syntax (must be last) */
	z-index: 10;
}